tmp
bower_components
.gradle/
.idea/
.log/
build/
target/
*.iml
classes/*
npm-debug.log
*.ipr
*.iws
publish
.classpath
.project
.settings
/application.properties
/application-test.properties
/application.pid
/bin/
out
.sass-cache/
bower_components/
node_modules/
dist/
.DS_Store
.tag*
pom.xml
logs/
keytmp/
*.js.map
*.css.map
run/
dist-deploy/
coverage/
run_backup/

